
header{
  background-color: rgb(209, 161, 161);
  color:rgb(27, 17, 17);
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
  font-size: 24px;}

.cabecalho-imagem {
width: 20%;
}

.cabecalho-lista-item{
  display: inline-block;
}

.escola-imagem{
  width: 25%;
}